<h2>Novo Candidato</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.hidden_field :role, :value => params[:role] %>

    <div class="topnav" style="float: right; border-radius: 15px">
        <svg style="position: absolute; padding-left:6px; padding-top:6px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="text" placeholder="     search">
    </div> 

    <%= render "devise/shared/error_messages", resource: resource %>

    <form class="row g-3">

    <div class="col-12">
      <div class="col-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :value => "asd@asd.com" %>
        </div>
    </div>

    <div class="form-group row" style="margin-top: 15px">
        <div class="col-2" >
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :value => "password", style:"width: 107%" %>
        </div>

        <div class="col-3" style="padding-left: 90px">
            <%= f.label :password_confirmation %>
            <em>(repeat password)</em><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :value => "password", style:"width: 100%" %>
        </div>
    </div>

    <%= f.simple_fields_for :candidate do |c| %>
        
        <div class="form-group row" style="margin-top: 15px">
            <div class="col-2" >
                <%= c.label :name %>
                <%= c.text_field :name, style:"width: 107%" %>
            </div>

            <div class="col-3 " style="padding-left: 90px">
                <%= c.label :image %>
                <%= c.file_field :image %>
            </div>
        </div>

        <div class="form-group col-5" style="margin-top: 15px">
            <label for="exampleFormControlTextarea1">Morada</label>
            <%= c.input :address, as: :text, :input_html => { class: 'tinymce', rows: 3, columns: 98 } %>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label :postal_code %>
                <%= c.text_field :postal_code, style:"width: 107%" %>
            </div>

            <div class="col-3" style="padding-left: 240px">
                <%= c.label :location %>
                <%= c.text_field :location, style:"width: 100%" %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label :phone %>
                <%= c.text_field :phone, style:"width: 107%" %>
            </div>

            <div class="col-1" >
                <%= c.label :fax %>
                <%= c.text_field :fax, style:"width: 107%" %>
            </div>

            <div class="col-3" style="padding-left: 80px">
                <%= c.label :website %>
                <%= c.text_field :website, style:"width: 100%" %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label :dob %>
                <%= c.date_field :dob, style:"width: 107%" %>

            </div>

            <div class="col-3" style="padding-left: 240px">
                <%= c.label :id_card %>
                <%= c.text_field :id_card %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 25px; margin-bottom: 25px">
            <div class="col-3">
                <%= c.label :attachment %>
                <%= c.file_field :attachment %>
            </div>

            <div class="col-3 dropdown" style="margin-left: -90px">
                <%= c.label "Área Profissional" %>
                <%= c.select :industry, [['Informática','Informática'],['Marketing','Marketing'],['RH','RH']] %>
            </div>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Apresentação</label>
            <%= tinymce %>
            <%= text_area_tag :address, "", :class => "tinymce", :rows => 3, :cols => 98 %>
        </div>

        <div class="dropdown" style="margin-top: 25px; margin-bottom: 25px">
            <%= c.label "Nível de Habilitações" %>
            <%= c.select :grade, [['Secundário','Secundário'],['Licenciatura','Licenciatura'],['Mestrado','Mestrado'],['Doutoramento','Doutoramento']] %>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Habilitações Literárias</label>
            <%= tinymce %>
            <%= text_area_tag :address, "", :class => "tinymce", :rows => 3, :cols => 98 %>
        </div>

        <div class="dropdown" style="margin-top: 25px; margin-bottom: 25px">
            <%= c.label "Situação Profissional" %>
            <%= c.select :employed, [['Empregado','1'],['Desempregado','2']] %>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Experiência Profissional</label>
            <%= tinymce %>
            <%= text_area_tag :address, "", :class => "tinymce", :rows => 3, :cols => 98 %>
        </div>

    <% end %>

    <div class="actions">
        <%= f.submit "Registar" %>
    </div>

<% end %>