<%= simple_form_for @entity do |e| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= e.simple_fields_for :user do |user_form| %>
    <div class="field">
      <%= user_form.input :email %>
    </div>
    <div class="field">
      <%= user_form.input :password %>
    </div>
  <% end %>

  <div class="field">
    <%= e.input :name %>
  </div>

  <div class="field">
    <%= e.input :description %>
  </div>

  <div class="field">
    <%= e.input :industry %>
  </div>

  <div class="field">
    <%= e.input :address %>
  </div>

  <div class="field">
    <%= e.input :county %>
  </div>

  <div class="field">
    <%= e.input :phone %>
  </div>

  <div class="field">
    <%= e.input :fax %>
  </div>

  <div class="field">
    <%= e.input :website %>
  </div>

  <div class="actions">
    <%= e.button :submit %>
  </div>
  
<% end %>
