<%= simple_form_for @entity do |e| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= e.simple_fields_for :users do |user_form| %>

    <div class="field">
      <%= user_form.label :email %>
      <%= user_form.email_field :email, :value => @entity.user.email %>
    </div>
    <div class="field">
      <%= user_form.label :password %>
      <%= user_form.password_field :password %>
    </div>
    <div class="field">
      <%= user_form.label :role %>
      <%= user_form.text_field :role, :value => "entity" %>
    </div>
  <% end %>

  <div class="field">
    <%= e.label :image %>
    <%= e.file_field :image %>

    <% if entity.image.attached? %>
      <%= image_tag(entity.image, style: "width: 200px") %>
    <% end %>

  </div>

  <div class="field">
    <%= e.label :name %>
    <%= e.text_field :name, :value => "entity name" %>
  </div>

  <div class="field">
    <%= e.label :description %>
    <%= e.text_field :description, :value => "entity description" %>
  </div>

  <div class="field">
    <%= e.label :industry %>
    <%= e.text_field :industry, :value => "entity industry" %>
  </div>

  <div class="field">
    <%= e.label :address %>
    <%= e.text_field :address, :value => "entity address" %>
  </div>

  <div class="field">
    <%= e.label :postal_code %>
    <%= e.number_field :postal_code, :value => 4455-784 %>
  </div>

  <div class="field">
    <%= e.label :location %>
    <%= e.text_field :location, :value => "entity location" %>
  </div>

  <div class="field">
    <%= e.label :tax_number %>
    <%= e.number_field :tax_number, :value => 560554545 %>
  </div>

  <div class="field">
    <%= e.label :phone %>
    <%= e.number_field :phone, :value => 2232323232 %>
  </div>

  <div class="field">
    <%= e.label :fax %>
    <%= e.number_field :fax, :value => 226565656 %>
  </div>

  <div class="field">
    <%= e.label :website %>
    <%= e.text_field :website, :value => "www.site.com" %>
  </div>

  <div class="actions">
    <%= e.submit "Sign up" %>
  </div>
  
<% end %>
