<%= form_with(model: entity, local: true) do |e| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= e.label :name %>
    <%= e.text_field :name %>
  </div>

  <div class="field">
    <%= e.label :description %>
    <%= e.text_field :description %>
  </div>

  <div class="field">
    <%= e.label :industry %>
    <%= e.text_field :industry %>
  </div>

  <div class="field">
    <%= e.label :address %>
    <%= e.text_field :address %>
  </div>

  <div class="field">
    <%= e.label :county %>
    <%= e.text_field :county %>
  </div>

  <div class="field">
    <%= e.label :phone %>
    <%= e.text_field :phone %>
  </div>

  <div class="field">
    <%= e.label :fax %>
    <%= e.number_field :fax %>
  </div>

  <div class="field">
    <%= e.label :website %>
    <%= e.text_field :website %>
  </div>

  <div class="actions">
    <%= e.submit %>
  </div>
  
<% end %>
