<p id="notice"><%= notice %></p>

<h5>Entidades</h5>

<nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 25px">

  <svg style="position: absolute; padding-left:5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
    <%= form_for "", url: entities_path, role: "search", method: :get do %>
      <%= text_field_tag :search, @search_term, palceholder: "search" %>
    <% end %>

      <div class="dropdown" style="padding-left: 50px">

        <button class="btn btn-secondary btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false", style="font-size: small">
          Área de Actividade
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Actividade 1</a>
          <a class="dropdown-item" href="#">Actividade 2</a>
          <a class="dropdown-item" href="#">Actividade 3</a>
        </div>

      </div>

      <div class="dropdown" style="padding-left: 50px">

        <button class="btn btn-secondary btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false", style="font-size: small">
          Concelho
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Concelho 1</a>
          <a class="dropdown-item" href="#">Concelho 2</a>
          <a class="dropdown-item" href="#">Concelho 3</a>
        </div>

      </div>

</nav>

<% @entities.each do |entity| %>
  <div class="row">
    <div class="col-sm-2">
      <div class="card border-0">
        <div class="card-body">
          <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
          <% if entity.image.attached? %>
              <%= image_tag(entity.image, style: "width: 100px") %>
          <% else %>
            <img src="image" alt="sem imagem">
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="margin-left: -150px">
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text"><%= link_to entity.name, entity_path(entity.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
          <p class="card-text"><%= raw entity.description %></p>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px;">
      <div "actions">
      <% if user_signed_in? %>
        <% if user_signed_in? && current_user.role == "candidate" %>
          <button><%= link_to 'Interessado/a', new_user_registration_path(role:"entity"), style:"text-decoration: none; color: black", class:"noHover" %></button>
        <% end %>
        <% if current_user.role == "backoffice" || current_user.role == "entity" && current_user.entity.id == entity.id %>
          <button><%= link_to 'Editar', edit_entity_path(entity), style:"text-decoration: none; color: black", class:"noHover" %></button>
          <td><%= link_to 'Cancelar', entity, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
        <% end %>
      <% end %>
      </div>
    </div>
    
  </div>
<% end %>

<% if user_signed_in? == false %>
  <%= link_to 'Quero-me registar', new_user_registration_path(role:"entity"), style:"color: blue", class:"noHover" %>
<% end %>

<%= will_paginate @entities, style:"margin-top: 35px; color: blue", class:"noHover btn" %>

<style>
  .noHover:hover {
    background: none;
  }
</style>