<% if notice.present? %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

<style>
  .noHover:hover {
    background: none;
  }
</style>

<% if user_signed_in? && current_user.role == "backoffice" %>

  <h5>Detalhe do utilizador</h5>

  <div class="form-group row" style="margin-top: 15px">
    <div class="col-2" >
      <h7 style="font-weight: bold"> Nome <h7/>
      <p style="font-weight:normal"><%= @entity.name %></p>
    </div>

    <div class="col-3" style="padding-left: 90px">
      <h7 style="font-weight: bold"> Tipo <h7/>
      <p style="font-weight:normal"><%= @entity.user.role %></p>
    </div>
  </div>

  <div class="form-group row" style="margin-top: 15px">
    <div class="col-2" >
      <h7 style="font-weight: bold"> Email <h7/>
      <p style="font-weight:normal"><%= @entity.user.email %></p>
    </div>

    <div class="col-3" style="padding-left: 90px">
      <h7 style="font-weight: bold"> Activo <h7/>
      <% if @entity.user.active %>
        <p style="font-weight:normal">Sim</p>
      <% else %>
        <p style="font-weight:normal">Não</p>
      <% end %>
    </div>
  </div>

  <button><%= link_to 'Editar', edit_entity_path(@entity), style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Alterar Password', edit_user_registration_path, style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Apagar', @entity, method: :delete, data: { confirm: 'Tem a certeza?' }, style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Inserir', new_user_registration_path(role:"entity"), style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Listagem', entities_path, style:"text-decoration: none; color: black", class:"noHover" %></button>

<% else %>

<h5><%= @entity.name %></h5>

<div class="row">
  <div class="col-sm-2">
    <div class="card border-0">
      <div class="card-body">
        <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <% if @entity.image.attached? %>
            <%= image_tag(@entity.image, style: "width: 150px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        </div>
        <div "actions">
          <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">

            <% if user_signed_in? && current_user.role == "candidate" %>
              <button class="btnClick">Interessado/a</button>
            <% end %>

          </div>
          <% if user_signed_in? %>
            <% if current_user.role == "backoffice" || current_user.role == "entity" && current_user.entity.id == @entity.id %>
              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                <button><%= link_to 'Editar', edit_entity_path(@entity), style:"text-decoration: none; color: black", class:"noHover" %></button>
                </br>
              </div>

              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                <td><%= link_to 'Cancelar', @entity, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
              </div>
              
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2" style="margin-left: -100px">
    <div class="card border-0">
      <div class="card-body">
        <p class="card-text"><%= raw @entity.description %></p>
        <p class="card-title" style="font-weight: bold">Actividade Profissional</p>
        <p class="card-text"><%= @entity.industry %></p>
        <p class="card-title" style="font-weight: bold">Morada</p>
        <p class="card-text"><%= raw @entity.address %></p>
        <p class="card-text"><%= @entity.postal_code %></p>
        <p class="card-title" style="font-weight: bold">Contactos</p>
        <p class="card-text">Telefone: <%= @entity.phone %></p>
        <p class="card-text">Fax: <%= @entity.fax %></p>
        <p class="card-text"><%= @entity.user.email %></p>
        <p class="card-text"><%= link_to @entity.website, url_for(@entity.website), style:"color: blue; visited: yellow", class:"noHover"%></p></p>
      </div>
    </div>
  </div>
</div>

<h5>Ofertas Activas</h5>

<% @job_offers.each do |job_offer| %>

  <% if job_offer.active && @entity.id == job_offer.entities_id %>

    <div class="row">
      <div class="col-sm-2">
        <div class="card border-0">
          <div class="card-body">
            <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
            <% if job_offer.image.attached? %>
                <%= image_tag(job_offer.image, style: "width: 50px") %>
            <% else %>
              <img src="image" alt="sem imagem">
            <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-2" style="margin-left: -200px">
      <div class="card border-0">
        <div class="card-body">
            <p class="card-text"><%= link_to job_offer.name, job_offer_path(job_offer.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
            <p class="card-text"><%= job_offer.date %></p>
            <p class="card-text"><%= raw job_offer.description %></p>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px; space-between: 40px">
      <div "actions">
      <% if user_signed_in? %>
        <% if current_user.role == "candidate" %>
          <button><%= link_to 'Candidatar-me', new_user_registration_path(role:"entity"), style:"text-decoration: none; color: black", class:"noHover" %></button>
        <% end %>
        <% if current_user.role == "backoffice" || current_user.role == "entity" && current_user.entity.id == @entity.id %>
          <button><%= link_to 'Editar', edit_job_offer_path(job_offer), style:"text-decoration: none; color: black", class:"noHover" %></button>
          <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
        <% end %>
      <% end %>
      </div>
    </div>

  <% end %>
  
<% end %>

<%= link_to 'Ver Entidades', entities_path, style:"color: blue; margin-top: 15px", class:"noHover" %>

<% end %>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
  $('.btnClick').click(function(){
    var $this = $(this);
    $this.toggleClass('btnClick');
    if($this.hasClass('btnClick')){
      $this.text('Interessado/a');			
    } else {
      $this.text('Não interessado');
    }
  });
</script>