<p id="notice"><%= notice %></p>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @entity.name %></h5>
        <p class="card-text"><%= @entity.description %></p>
        <p class="card-text">Actividade Profissional</p>
        <p class="card-text"><%= @entity.industry %></p>
        <p class="card-text">Morada</p>
        <p class="card-text"><%= @entity.address %></p>
        <p class="card-text">Contactos</p>
        <p class="card-text">Telefone: <%= @entity.phone %></p>
        <p class="card-text">Fax: <%= @entity.fax %></p>
        <% if @entity.user.email %>
          <p class="card-text"><%= @entity.user.email %></p>
        <% end %>
        <p class="card-text"><%= @entity.website %></p>
      </div>
    </div>
  </div>
</div>

<%# logged in users can click button1, if the user has already clicked it, text must show the opposite meaning %>
<%# button2 is visible to the entity itself and to user admin only %>

<%= link_to 'Interessado/a', entities_path %>
<%= link_to 'Edit', edit_entity_path(@entity) %> |

<%= render 'components/job_list' %>
