<% if user_signed_in? %>
  <% if current_user.role == "entity" %>
    <div class="topnav" style="float: right; padding-right: 250px">
      <h5>Entidade</h5>
      <div "actions">
        <button><%= link_to 'Editar Dados', edit_entity_path(current_user.entity), style:"text-decoration: none; color: black", class:"noHover" %></button>
        <button><%= link_to "Alterar password", edit_user_registration_path, style:"text-decoration: none; color: black", class:"noHover" %></button>
      </div>
    </div> 

    <h5>Ofertas</h5>

    <% @job_offers.each do |job_offer| %>

      <% if job_offer.active && current_user.entity.id == job_offer.entities_id %>
          
        <div class="row">
          <div class="col-sm-2">
            <div class="card border-0">
              <div class="card-body">
                <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                <% if job_offer.image.attached? %>
                    <%= image_tag(job_offer.image, style: "width: 100px; margin-left: -30px") %>
                <% else %>
                  <img src="image" alt="sem imagem">
                <% end %>
                </div>
              </div>
            </div>
        </div>
          
        <div class="col-sm-2" style="margin-left: -100px">
          <div class="card border-0">
            <div class="card-body">
                <p class="card-text"><%= link_to job_offer.name, job_offer_path(job_offer.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
                <p class="card-text"><%= job_offer.date %></p>
                <p class="card-text"><%= current_user.entity.name %></p>
                <p class="card-text"><%= raw job_offer.description %></p>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
            <div class="card border-0">
                  <div class="card-body">
                      <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                          <div "actions">
                              <% if current_user.role == "candidate" %>
                                  <button><%= link_to 'Candidatar-me', new_user_registration_path(role:"entity"), style:"text-decoration: none; color: black", class:"noHover" %></button>
                              <% end %>
                              <button><%= link_to 'Editar', edit_job_offer_path(job_offer), style:"text-decoration: none; color: black", class:"noHover" %></button>
                              <button><%= link_to 'Cancelar', job_offer, method: :delete, data: { confirm: 'Tem a certeza?' }, style:"text-decoration: none; color: black", class:"noHover" %></button>
                          </div>
                      </div>
                  </div>
              </div>
          </div> 
      <% end %>  
            
    <% end %>
    <%= link_to 'Inserir Oferta', new_job_offer_path, style:"color: blue", class:"noHover" %> 


    <h5 style="margin-top: 25px">Histórico</h5>
    <% @job_offers.each do |job_offer| %>
      <% if job_offer.active == false && current_user.entity.id == job_offer.entities_id %>
    
        <div class="row">
          <div class="col-sm-2">
            <div class="card border-0">
              <div class="card-body">
                <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                  <% if job_offer.image.attached? %>
                      <%= image_tag(job_offer.image, style: "width: 50px") %>
                  <% else %>
                    <img src="image" alt="sem imagem">
                  <% end %>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-sm-2" style="margin-left: -100px">
            <div class="card border-0">
              <div class="card-body">
                <p class="card-text"><%= link_to job_offer.name, job_offer_path(job_offer.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
                <p class="card-text"><%= job_offer.date %></p>
                <p class="card-text"><%= current_user.entity.name %></p>
                <p class="card-text"><%= raw job_offer.description %></p>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="card border-0">
              <div class="card-body">
                <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px; space-between: 40px">
                  <div "actions">
                  <%= form_with url: toggle_active_state_job_offer_path(job_offer) do |form| %>
                    <button type="submit" value="false">Reactivar</button>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div> 
      <% end %>   
    <% end %>
  <% elsif current_user.role == "candidate"%>
    <div class="topnav" style="float: right; padding-right: 250px">
      <h5>Entidade</h5>
      <div "actions">
        <button><%= link_to 'Editar Dados', edit_candidate_path(current_user.candidate), style:"text-decoration: none; color: black", class:"noHover" %></button>
        <button><%= link_to "Alterar password", edit_user_registration_path, style:"text-decoration: none; color: black", class:"noHover" %></button>
      </div>
    </div> 

    <h5>Candidaturas</h5>

    <% @candidates.each do |candidate| %>

      <div class="row">
        <div class="col-sm-2">
          <div class="card border-0">
            <div class="card-body">
              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                <% if candidate.image.attached? %>
                    <%= image_tag(candidate.image, style: "width: 50px") %>
                <% else %>
                  <img src="image" alt="sem imagem">
                <% end %>
              </div>
            </div>
          </div>
        </div>
          
        <div class="col-sm-2" style="margin-left: -100px">
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text"><%= link_to candidate.name, candidate_path(candidate.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
              <p class="card-text"><%= raw candidate.description %></p>
              <p class="card-text"><%= raw candidate.qualification %></p>
              <p class="card-text"><%= raw candidate.address %></p>
            </div>
          </div>
        </div>

    <% end %>

    <h5 style="margin-top: 50px">Empresas Interessadas em mim</h5>
    <% @candidates.each do |candidate| %>
      <div class="row">
        <div class="col-sm-2">
          <div class="card border-0">
            <div class="card-body">
              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
                <% if candidate.image.attached? %>
                    <%= image_tag(candidate.image, style: "width: 50px") %>
                <% else %>
                  <img src="image" alt="sem imagem">
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="margin-left: -100px">
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text"><%= link_to candidate.name, candidate_path(candidate.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
              <p class="card-text"><%= raw candidate.address %></p>
              <p class="card-text"><%= raw candidate.description %></p>
            </div>
          </div>
        </div>
      </div> 
    <% end %>   
  <% end %>
<% else %>

  <div class="form-group row">
    <div class="col-5" >
      <h5>Últimas Ofertas</h5>
      <% @job_offers.each do |job_offer| %>
        <% if job_offer.image.attached? %>
          <%= image_tag(job_offer.image, style: "width: 100px; margin-left: 20px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= link_to job_offer.name, job_offer_path(job_offer.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
          <p class="card-text"><%= job_offer.date %></p>
          <p class="card-text"><%= Entity.find(job_offer.entities_id).name %></p>
          <p class="card-text"><%= raw job_offer.description %></p>
        </div>
      <% end %>
      <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <div "actions">
          <%= link_to 'Ver todas as ofertas', job_offers_path, style:"color: blue", class:"noHover" %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <h5>Notícias</h5>
      <% @news.each do |n| %>
        <% if n.image.attached? %>
          <%= image_tag(n.image, style: "width: 100px; margin-left: 20px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        <div class="card border-0">
          <div class="card-body">
            <p class="card-text"><%= link_to n.title, news_path(n.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
            <p class="card-text"><%= n.date %></p>
            <p class="card-text"><%= raw n.description %></p>
          </div>
        </div>
      <% end %>
      <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <div "actions">
          <%= link_to 'Ver todas as notícias', news_index_path, style:"color: blue", class:"noHover" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-5" >
      <h5 style="margin-top: 25px">Últimas Empresas</h5>
      <% @entities.each do |entity| %>
        <% if entity.image.attached? %>
          <%= image_tag(entity.image, style: "width: 100px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= link_to entity.name, entity_path(entity.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
          <p class="card-text"><%= raw entity.description %></p>
        </div>
      <% end %>
      <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <div "actions">
          <%= link_to 'Ver todas as empresas', entities_path, style:"color: blue", class:"noHover" %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <h5>Últimos Candidatos</h5>
      <% @candidates.each do |candidate| %>
        <% if candidate.image.attached? %>
          <%= image_tag(candidate.image, style: "width: 100px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        <div class="card-body">
          <p class="card-text"><%= link_to candidate.name, candidate_path(candidate.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
          <p class="card-text"><%= candidate.industry %></p>
          <p class="card-text"><%= raw candidate.experience %></p>
          <p class="card-text"><%= candidate.grade %></p>
        </div>
      <% end %>
      <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <div "actions">
          <%= link_to 'Ver todos os candidatos', candidates_path, style:"color: blue", class:"noHover" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  .noHover:hover {
    background: none;
  }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
