<p id="notice"><%= notice %></p>

<h5>Notícias</h5>

<% @news.each do |n| %>
  <div class="row">
    <div class="col-sm-2">
      <div class="card border-0">
        <div class="card-body">
          <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
          <% if n.image.attached? %>
              <%= image_tag(n.image, style: "width: 50px") %>
          <% else %>
            <img src="image" alt="sem imagem">
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2" style="margin-left: -200px">
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text"><%= link_to n.title, news_path(n.id), style:"color: blue; visited: yellow", class:"noHover"%></p>
          <p class="card-text"><%= n.date %></p>
          <p class="card-text"><%= raw n.description %></p>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px; space-between: 40px">
      <div "actions">
      <% if user_signed_in? %>
        <% if current_user.role == "backoffice" || current_user.role == "entity" && current_user.entity.id == n.id %>
          <button><%= link_to 'Editar', edit_news_path(n), style:"text-decoration: none; color: black", class:"noHover" %></button>
          <td><%= link_to 'Destroy', n, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
        <% end %>
      <% end %>
      </div>
    </div>
    
  </div>
<% end %>

<style>
  .noHover:hover {
    background: none;
  }
</style>

<% if user_signed_in? %>
  <% if current_user.role == "backoffice" || current_user.role == "entity" %>
    <%= link_to 'Registar nova notícia', new_news_path, style:"color: blue", class:"noHover" %>
  <% end %>
<% end %>