<p id="notice"><%= notice %></p>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-text"><%= @news.title %></h4>
        <p class="card-text"><%= @news.date %></p>
        <p class="card-text"><%= @news.description %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Ver todos', news_path %>