<h2>Editar Candidato</h2>

<%= simple_form_for(candidate.user, url: candidate_path(candidate)) do |f| %>

    <div class="topnav" style="float: right; border-radius: 15px">
        <svg style="position: absolute; padding-left:6px; padding-top:6px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="text" placeholder="     search">
    </div> 

    <form class="row g-3">

    <div class="col-12">
      <div class="col-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
    </div>

    <%= f.simple_fields_for candidate do |c| %>
        
        <div class="form-group row" style="margin-top: 15px">
            <div class="col-2" >
                <%= c.label "Nome" %>
                <%= c.text_field :name, style:"width: 107%" %>
            </div>

            <div class="col-3 " style="padding-left: 90px">
                <%= c.label "Foto" %>
                <%= c.file_field :image %>
                <% if candidate.image.attached? %>
                    <%= image_tag(candidate.image, style: "width: 50px") %>
                <% end %>
            </div>
        </div>

        <div class="form-group col-5" style="margin-top: 15px">
            <label for="exampleFormControlTextarea1">Morada</label>
            <%= c.input :address, as: :text, :input_html => { class: 'tinymce', rows: 3, columns: 98 } %>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label "Código Postal" %>
                <%= c.text_field :postal_code, style:"width: 107%" %>
            </div>

            <div class="col-3" style="padding-left: 240px">
                <%= c.label "Localidade" %>
                <%= c.text_field :location, style:"width: 100%" %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label "Contacto" %>
                <%= c.text_field :phone, style:"width: 107%" %>
            </div>

            <div class="col-1" >
                <%= c.label "Fax" %>
                <%= c.text_field :fax, style:"width: 107%" %>
            </div>

            <div class="col-3" style="padding-left: 80px">
                <%= c.label "Página Pessoal" %>
                <%= c.text_field :website, style:"width: 100%" %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 15px">
            <div class="col-1" >
                <%= c.label "Data de Nascimento" %>
                <%= c.date_field :dob, style:"width: 107%" %>
            </div>

            <div class="col-3" style="padding-left: 240px">
                <%= c.label "Bilhete de Identidade" %>
                <%= c.text_field :id_card %>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 25px; margin-bottom: 25px">
            <div class="col-3">
                <%= c.label "Curriculum Vitae" %>
                <%= c.file_field :attachment %>
                <% if @candidate.attachment.attached? %>
                    <%= link_to 'Curriculum Vitae', @candidate.attachment %>
                <% end %>
            </div>

            <div class="col-3 dropdown" style="margin-left: -90px">
                <%= c.label "Área Profissional" %>
                <%= c.select :industry, [['Informática','Informática'],['Marketing','Marketing'],['RH','RH']] %>
            </div>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Apresentação</label>
            <%= c.input :description, as: :text, :input_html => { class: 'tinymce', rows: 3, columns: 98 } %>
        </div>

        <div class="dropdown" style="margin-top: 25px; margin-bottom: 25px">
            <%= c.label "Nível de Habilitações" %>
            <%= c.select :grade, [['Secundário','Secundário'],['Licenciatura','Licenciatura'],['Mestrado','Mestrado'],['Doutoramento','Doutoramento']] %>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Habilitações Literárias</label>
            <%= c.input :qualification, as: :text, :input_html => { class: 'tinymce', rows: 3, columns: 98 } %>
        </div>

        <div class="dropdown" style="margin-top: 25px; margin-bottom: 25px">
            <%= c.label "Situação Profissional" %>
            <%= c.select :employed, [['Empregado','1'],['Desempregado','2']] %>
        </div>

        <div class="form-group col-5" style="margin-top: 25px; margin-bottom: 25px">
            <label for="exampleFormControlTextarea1">Experiência Profissional</label>
            <%= c.input :experience, as: :text, :input_html => { class: 'tinymce', rows: 3, columns: 98 } %>
        </div>

    <% end %>

    <div class="actions">
        <%= f.submit "Ok" %>
        <%= f.button :button do %>
            <%= link_to 'Cancelar', candidates_path, style:"text-decoration: none; border-radius: 25px; color: black; pointer-events: none" %>
        <% end %>
    </div>

    <%= tinymce %>

<% end %>