<style>
  .noHover:hover {
    background: none;
  }
</style>

<% if user_signed_in? && current_user.role == "backoffice" %>

  <h5>Detalhe do utilizador</h5>

  <div class="form-group row" style="margin-top: 15px">
    <div class="col-2" >
      <h7 style="font-weight: bold"> Nome <h7/>
      <p style="font-weight:normal"><%= @candidate.name %></p>
    </div>

    <div class="col-3" style="padding-left: 90px">
      <h7 style="font-weight: bold"> Tipo <h7/>
      <p style="font-weight:normal"><%= @candidate.user.role %></p>
    </div>
  </div>

  <div class="form-group row" style="margin-top: 15px">
    <div class="col-2" >
      <h7 style="font-weight: bold"> Email <h7/>
      <p style="font-weight:normal"><%= @candidate.user.email %></p>
    </div>

    <div class="col-3" style="padding-left: 90px">
      <h7 style="font-weight: bold"> Activo <h7/>
      <% if @candidate.user.active %>
        <p style="font-weight:normal">Sim</p>
      <% else %>
        <p style="font-weight:normal">Não</p>
      <% end %>
    </div>
  </div>

  <button><%= link_to 'Editar', edit_candidate_path(@candidate), style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Alterar Password', edit_user_registration_path, style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Apagar', @candidate, method: :delete, data: { confirm: 'Tem a certeza?' }, style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Inserir', new_user_registration_path(role:"candidate"), style:"text-decoration: none; color: black", class:"noHover" %></button>
  <button><%= link_to 'Listagem', candidates_path, style:"text-decoration: none; color: black", class:"noHover" %></button>

<% else %>

<h5><%= @candidate.name %></h5>

<div class="row">
  <div class="col-sm-2">
    <div class="card border-0">
      <div class="card-body">
        <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px">
        <% if @candidate.image.attached? %>
            <%= image_tag(@candidate.image, style: "width: 150px") %>
        <% else %>
          <img src="image" alt="sem imagem">
        <% end %>
        </div>
        <div "actions">
        <% if @candidate.attachment.attached? %>
            <%= link_to "Curriculum Vitae", @candidate.attachment, style: "color: black; margin-left: 25px", class:"noHover" %>
        <% end %>
          <div style="display: flex; justify-content: left; align-items: left; margin-top: 10px; margin-left: 30px">

            <% if user_signed_in? && current_user.role == "entity" %>
              <%= form_with url: toggle_entity_interest_candidate_path(@candidate) do |form| %>
                <%= form.hidden_field :toggle_type, value: @candidate.interested_entities.include?(current_user.entity) ? 'remover' : 'add' %>
                <%= form.hidden_field :entity_id, value: current_user.entity.id %>
                <% if @candidate.interested_entities.include?(current_user.entity) %>
                  <button type="submit">Remover Interesse</button>
                <% else %>
                  <button type="submit">Mostrar-se interessado</button>
                <% end %>
              <% end %>
            <% end %>

          </div>
          
          <% if user_signed_in? %>
            <% if current_user.role == "backoffice" || current_user.role == "candidate" && current_user.candidate.id == @candidate.id %>

              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px; margin-left: 55px">
                <button><%= link_to 'Editar', edit_candidate_path(@candidate), style:"text-decoration: none; color: black", class:"noHover" %></button>
              </div>

              <div style="display: flex; justify-content: left; align-items: left; margin-top: 15px; margin-left: 49px">
                <td><%= link_to 'Cancelar', @candidate, method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
              </div>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2" style="margin-left: -100px">
    <div class="card border-0">
      <div class="card-body">
        <p class="card-text"><%= raw @candidate.description %></p>
        <p class="card-title" style="font-weight: bold">Actividade Profissional</p>
        <p class="card-text"><%= @candidate.industry %></p>
        <p class="card-title" style="font-weight: bold"><h5>Dados Profissionais</h5></p>
        <p class="card-title" style="font-weight: bold">Situação Profissional</p>
        <% if @candidate.employed %>
          <p class="card-text">Empregado</p>
        <% else %>
          <p class="card-text">Desempregado</p>
        <% end %>
        <p class="card-title" style="font-weight: bold">Nível de Habilitações</p>
        <p class="card-text"><%= raw @candidate.grade %></p>
        <p class="card-title" style="font-weight: bold">Habilitações Literárias</p>
        <p class="card-text"><%= raw @candidate.qualification %></p>
        <p class="card-title" style="font-weight: bold">Experiência Profissional</p>
        <p class="card-text"><%= raw @candidate.experience %></p>
        <p class="card-title" style="font-weight: bold"><h5>Dados Pessoais</h5></p>
        <p class="card-title" style="font-weight: bold">Morada</p>
        <p class="card-text">Telefone: <%= raw @candidate.address %></p>
        <p class="card-text">Telefone: <%= raw @candidate.postal_code %></p>
        <p class="card-title" style="font-weight: bold">Contactos</p>
        <p class="card-text">Telefone: <%= @candidate.phone %></p>
        <p class="card-text">Fax: <%= @candidate.fax %></p>
        <p class="card-text"><%= @candidate.user.email %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Ver candidatos', candidates_path, style:"color: blue; margin-top: 15px", class:"noHover" %>

<% end %>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
  $('.btnClick').click(function(){
    var $this = $(this);
    $this.toggleClass('btnClick');
    if($this.hasClass('btnClick')){
      $this.text('Interessado/a');			
    } else {
      $this.text('Não interessado');
    }
  });
</script>