<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="vh-100">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border: 2px solid black">
            <div class="card-body p-5 text-center">

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email..." %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password..." %>
              </div>

              <div class="actions">
                <%= f.submit "Log in", style:"margin-left: 125px" %>
              </div>

              <%= link_to "Registar-me", user_registry_new_path, style:"color: blue" %> | <%= link_to "Esqueci-me da password...", new_user_password_path, style:"color: blue" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>