<p id="notice"><%= notice %></p>

<h4>Ofertas</h4>

<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>

    <i class="fas fa-search"></i>
    <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Área de Actividade
    </button>
    <ul class="dropdown-menu">
      ...
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-secondary btn-sm" type="button">
      Concelho
    </button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      ...
    </ul>
  </div>
</div>

<%= render 'components/job_list' %>

<h1>Job Offers visible to user admin</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Company</th>
      <th>County</th>
      <th>Industry</th>
      <th>Contract</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.name %></td>
        <td><%= job_offer.description %></td>
        <td><%= job_offer.date %></td>
        <td><%= job_offer.company %></td>
        <td><%= job_offer.county %></td>
        <td><%= job_offer.industry %></td>
        <td><%= job_offer.contract %></td>
        <td><%= job_offer.salary %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Offer', new_job_offer_path %>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li> |
    <li class="page-item"><a class="page-link" href="#">2</a></li> |
    <li class="page-item"><a class="page-link" href="#">3</a></li> |
    <li class="page-item"><a class="page-link" href="#">4</a></li> |
    <li class="page-item"><a class="page-link" href="#">5</a></li> |
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
